<header>
    <a href="/" class="logo-img">
        <img src="/images/panlog.png" alt="Simplicious logo">
    </a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipe">Recipes</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/shop">Shop</a></li>
        </ul>
    </nav>
    <div class="auth-buttons">
        <a href="/login"><button class="login">Login</button></a>
        <a href="/signup"><button class="signup">Sign Up</button></a>
    </div>
</header>