<div class="sidebar">
    <ul class="menu" aria-label="Recipe Categories">
        <li class="menu-item">
            <a href="/healthy">
                <img src="./images/healthy icon.png" alt="Healthy Icon">
                <span>Healthy</span>
            </a>
        </li>
        <li class="menu-item active">
            <a href="/recipes/category/dessert">
                <img src="./images/dessert.jpeg.jpg" alt="Dessert Icon">
                <span>Dessert</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="/recipes/category/keto">
                <img src="./images/keto icon.png" alt="Keto Icon">
                <span>Keto</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="/recipes/category/cocktails">
                <img src="./images/cocktails.jpeg.jpg" alt="Cocktail Icon">
                <span>Cocktails</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="/starters">
                <img src="./images/starters icons.png" alt="Starters Icon">
                <span>Starters</span>
            </a>
        </li>
    </ul>
</div>