<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Edit Book | Admin</title>
  <link rel="icon" type="image/png" href="/images/panlog.png" />
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <div class="admin-container">
    <header class="navbar">
      <a href="/" class="logo-img"><img src="/images/panlog.png" alt="Simplicious logo" /></a>
      <h1 class="logo">Edit Book | Admin</h1>
      <nav>
        <ul>
          <li><a href="/AdminDashboard">Dashboard</a></li>
          <li><a href="/manage-recipes">Manage Recipes</a></li>
          <li><a href="/Users">Users</a></li>
          <li><a href="/booksmanaging">Books</a></li>
          <li><a href="/Settings">Settings</a></li>
          <li><a href="/">Log Out</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-content">
      <form action="/books/<%= book?._id %>/update" method="POST" class="add-book-form">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="<%= book?.title %>" required>

        <label for="price">Price</label>
        <input type="text" name="price" id="price" value="<%= book?.price %>" required>

        <button type="submit" class="save">Save Changes</button>
      </form>
    </main>
  </div>
    <%- include('../partials/footer') %>
</body>
</html>
